{
  presets: [ 'es2015-loose', 'stage-1'],
  plugins: [
    'syntax-async-functions',
    'syntax-flow',
    'transform-async-to-generator',
    'transform-flow-strip-types',
    'transform-runtime'
  ]
}
